.mystory-card {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}

.my-story-image-wrapper {
    transition: 0.4s all linear;
    position: relative;
    z-index: 1;
}

.my-story-image {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: 0.1s all linear;
    min-height: 150px;
    width: 100%;
    object-fit: cover;
}


.my-story-image-wrapper:after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000066;
    opacity: 0;
    transition: 0.1s all linear;
}

.mystory-card:hover .my-story-image {
    transform: scale(1.02);
}

.mystory-card:hover .my-story-image-wrapper:after {
    opacity: 1;
}

.story-card-footer {
    font-size: 13px;
    font-weight: 600;
    color: #1c1e21;
    text-align: center;
    height: 50px;
    padding-top: 24px;
    padding-bottom: 10px;
    position: relative;
    transition: 0.1s all linear;
    background-color: #fff;
}

.mystory-card:hover .story-card-footer {
    background-color: #f0f2f5;
}

.plus-icon-wrapper {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 4px;
    position: absolute;
    top: -20px;
    left: calc(50% - 20px);
    z-index: 3;
}

.plus-icon-wrapper svg {
    font-size: 32px;
    color: #1876f2;
}

/*==========Other story card styles==========*/

.other-story-card {
    height: 100%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
}

.other-story-card:after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00000030;
    transition: 0.1s all linear;
}

.other-story-image-wrapper {
    height: 100%;
    position: relative;
}

.other-story-image {
    border-radius: 8px;
    transition: 0.1s all linear;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.story-profile-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    padding: 4px;
    background-color: #1876f2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.story-profile-circle img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.other-story-card-footer {
    padding: 12px 15px 12px 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 3;
}


.other-story-card-footer span {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
    text-align: left;
}

.other-story-card:hover .other-story-image {
    transform: scale(1.02);
}

.other-story-card:hover:after {
    background-color: #00000066;
}

/* background-image: linear-gradient(0deg, #00000066, transparent); */