.post-card {
    padding: 12px 16px 10px 16px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    background-color: #fff;
    margin-bottom: 16px;
}

.user-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.author-name span {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    color: #050505;
}

.author-name span:hover {
    text-decoration: underline;
}

.time {
    display: flex;
    align-items: center;
}

.time p,
.time svg {
    font-size: 12px;
    color: #65676B;
}

.time p {
    cursor: pointer;
}

.time p:hover {
    text-decoration: underline;
}

.dot {
    font-size: 8px;
}

.status {
    color: #050505;
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin-top: 4px;
}

.comment-reaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reactions {
    display: flex;
    align-items: center;
}

.reactions img {
    border: 1px solid #fff;
}

.number-of-reactions {
    color: #65676B;
    font-size: 15px;
    margin-left: 6px;
}

.like {
    z-index: 3;
}

.heart {
    z-index: 2;
    margin-left: -2px;
}

.sad {
    z-index: 1;
    margin-left: -2px;
}

.number-of-comments {
    cursor: pointer;
}

.number-of-comments:hover {
    text-decoration: underline;
}

.number-of-comments p {
    margin-bottom: 0;
    color: #65676B;
    font-size: 15px;
}

.like-comment-share {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e4e6eb;
    border-bottom: 1px solid #e4e6eb;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 8px;
    position: relative;
}


.like-comment-share svg {
    color: #65676b;
    font-size: 20px;
    margin-right: 8px;
}

.like-comment-share p {
    color: #65676B;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;

}

.like-icon,
.comment-icon,
.share-icon {
    display: flex;
    align-items: center;
    padding: 6px 32px;
    border-radius: 4px;
    transition: 0.2s all linear;
    cursor: pointer;
}

.like-icon:hover,
.comment-icon:hover,
.share-icon:hover {
    background-color: #f0f2f5;
}

.like-clicked svg {
    color: #1b74e4;
    animation: rotate-scale 0.4s ease-in-out;
}

.like-clicked p {
    color: #2078F4;
}

.reaction-icons {
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 5;
    top: 0px;
    visibility: hidden;
    transition: transform .15s cubic-bezier(.4, 0, .2, 1), -webkit-transform .15s cubic-bezier(.4, 0, .2, 1);
}

.reaction-icons-visible {
    transform: translateY(-57px);
    visibility: visible;
}

.reaction-icons img {
    width: 330px;
    border-radius: 50px;
}

.previous-comments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.previous-comments p {
    color: #65676B;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    margin-bottom: 0;
    cursor: pointer;
}

.previous-comments>p:hover {
    text-decoration: underline;
}

.previous-comments svg {
    color: #65676B;
    font-size: 25px;
}

.comments {
    display: flex;
    margin-top: 8px;
}

.specific-comment-wrapper {
    padding: 8px 12px;
    border-radius: 18px;
    background-color: #f0f2f5;
}

.comment-author {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 8px;
}

.comment-author-name p {
    text-align: left;
    margin-bottom: 0;
    color: #050505;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
}

.specific-comment p {
    margin-bottom: 0;
    color: #050505;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}

.little-like-reply {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.little-like-reply p {
    margin-right: 16px;
    color: #65676B;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 12px;
    cursor: pointer;
}

.little-like-reply span {
    color: #65676B;
    font-weight: 400;
    font-size: 12px;
    cursor: pointer;
}

.little-like-reply p:hover,
.little-like-reply span:hover {
    text-decoration: underline;
}

.write-comment {
    margin-top: 4px;
    display: flex;
    align-items: center;
    position: relative;
}

.write-comment-icons {
    position: absolute;
    right: 6px;
    display: flex;
    align-items: center;
}

.write-comment-icons svg,
.write-comment-icons img {
    cursor: pointer;
}

.write-comment svg {
    color: #65676bad;
}

.sticker {
    height: 14px;
    width: 14px;
    margin-right: 8px;
}

.smile {
    font-size: 16px;
    margin-right: 8px;
}

.gif {
    margin-right: 8px;
}

.camera {
    font-size: 18px;
    margin-right: 8px;
}

.avatar {
    font-size: 18px;
    margin-right: 5px;
}

.write-comment-input::placeholder {
    font-size: 15px !important;
    color: #050505;
    font-weight: 400;
}

@keyframes rotate-scale {
    from {
        transform: rotate(-15deg) scale(1.05);
    }

    to {
        transform: rotate(0deg) scale(1);
    }
}

@media screen and (max-width:480px) {

    .like-icon,
    .comment-icon,
    .share-icon {
        padding: 6px 14px;
    }
}